/*************
Metro Dark Theme
*************/
/* overall */
.abelt-metro-dark {
	width: 100%;
	font: 12px/18px 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #333;
	border-spacing: 0;
	margin: 10px 0 15px;
	text-align: left;
}

/* extra rows/caption on either end of the table - add this class manually */
.abelt-metro-dark tr.dark-row th,
.abelt-metro-dark tr.dark-row td,
.abelt-metro-dark caption.dark-row {
	background-color: #222;
	color: #fff;
	padding: 2px;
	text-align: left;
	font-size: 14px;
}

/* header/footer */
.abelt-metro-dark caption,
.abelt-metro-dark th,
.abelt-metro-dark thead td,
.abelt-metro-dark tfoot th,
.abelt-metro-dark tfoot td {
	font-weight: 300;
	font-size: 15px;
	color: #ddd;
	background-color: #333;
	padding: 4px;
}

.abelt-metro-dark .abelt-header,
.abelt-metro-dark thead .sorter-false,
.abelt-metro-dark thead .sorter-false .abelt-headerInner,
.abelt-metro-dark thead .sorter-false i.abelt-icon {
	background-image: none;
	cursor: default;
}

.abelt-metro-dark .abelt-headerInner {
	position: relative;
	padding: 4px 15px 4px 4px;
	cursor: pointer;
}

.abelt-metro-dark .abelt-unsorted i.abelt-icon,
.abelt-metro-dark .abelt-sorted i.abelt-icon {
	width: 12px;
	height: 12px;
	position: absolute;
	right: 2px;
	top: 50%;
	margin-top: -5px;
	background-repeat: no-repeat;
	background-position: center right;
	padding: 4px;
	white-space: normal;
	background-size: auto 100%;
}

.abelt-metro-dark .abelt-unsorted i.abelt-icon {
	/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M15 8 1 8 8 0zM15 9 1 9 8 16z" style="fill:#ddd;opacity:0.2"/></svg> */
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTE1IDggMSA4IDggMHpNMTUgOSAxIDkgOCAxNnoiIHN0eWxlPSJmaWxsOiNkZGQ7b3BhY2l0eTowLjIiLz48L3N2Zz4=');
	cursor: pointer;
	white-space: normal;
}
.abelt-metro-dark .abelt-headerInner {
	padding: 0 18px 0 4px;
}

.abelt-metro-dark .abelt-sortAsc i.abelt-icon {
	/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M15 8 1 8 8 0z" style="fill:#ddd"/><path d="M15 9 1 9 8 16z" style="fill:#ddd;opacity:0.2"/></svg> */
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTE1IDggMSA4IDggMHoiIHN0eWxlPSJmaWxsOiNkZGQiLz48cGF0aCBkPSJNMTUgOSAxIDkgOCAxNnoiIHN0eWxlPSJmaWxsOiNkZGQ7b3BhY2l0eTowLjIiLz48L3N2Zz4=');
}
.abelt-metro-dark .abelt-sortDesc i.abelt-icon {
	/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M15 8 1 8 8 0z" style="fill:#ddd;opacity:0.2"/><path d="M15 9 1 9 8 16z" style="fill:#ddd"/></svg> */
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTE1IDggMSA4IDggMHoiIHN0eWxlPSJmaWxsOiNkZGQ7b3BhY2l0eTowLjIiLz48cGF0aCBkPSJNMTUgOSAxIDkgOCAxNnoiIHN0eWxlPSJmaWxsOiNkZGQiLz48L3N2Zz4=');
}

/* tbody */
.abelt-metro-dark td {
	background-color: #fff;
	padding: 4px;
	vertical-align: top;
}

/* hovered row colors */
.abelt-metro-dark tbody > tr.hover > td,
.abelt-metro-dark tbody > tr:hover > td,
.abelt-metro-dark tbody > tr.even:hover > td,
.abelt-metro-dark tbody > tr.odd:hover > td {
	background-color: #bbb;
	color: #000;
}

/* table processing indicator */
.abelt-metro-dark .abelt-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTEwIDJDMTAgMy4xIDggNiA4IDYgOCA2IDYgMy4xIDYgMiA2IDAuOSA2LjkgMCA4IDBjMS4xIDAgMiAwLjkgMiAyek0xNiA4YzAgMS4xLTAuOSAyLTIgMi0xLjEgMC00LTItNC0yIDAgMCAyLjktMiA0LTIgMS4xIDAgMiAwLjkgMiAyek0xMCAxNGMwIDEuMS0wLjkgMi0yIDItMS4xIDAtMi0wLjktMi0yIDAtMS4xIDItNCAyLTQgMCAwIDIgMi45IDIgNHpNNiA4QzYgOCAzLjEgMTAgMiAxMCAwLjkgMTAgMCA5LjEgMCA4IDAgNi45IDAuOSA2IDIgNiAzLjEgNiA2IDggNiA4eiIgc3R5bGU9ImZpbGw6I2RkZDtvcGFjaXR5Oi41Ij48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgZnJvbT0iMCA4IDgiIHRvPSIzNjAgOCA4IiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgZHVyPSIxLjVzIi8+PC9wYXRoPjwvc3ZnPg==);
	background-size: auto 20px;
}

/* pager */
.abelt-metro-dark .abelt-pager button {
	background-color: #444;
	color: #eee;
	border: #555 1px solid;
	cursor: pointer;
}
.abelt-metro-dark .abelt-pager button:hover {
	background-color: #555;
}

/* Zebra Widget - row alternating colors */
.abelt-metro-dark tr.odd > td {
	background-color: #eee;
}
.abelt-metro-dark tr.even > td {
	background-color: #fff;
}

/* Column Widget - column sort colors */
.abelt-metro-dark tr.odd td.primary {
	background-color: #bfbfbf;
}
.abelt-metro-dark td.primary,
.abelt-metro-dark tr.even td.primary {
	background-color: #d9d9d9;
}
.abelt-metro-dark tr.odd td.secondary {
	background-color: #d9d9d9;
}
.abelt-metro-dark td.secondary,
.abelt-metro-dark tr.even td.secondary {
	background-color: #e6e6e6;
}
.abelt-metro-dark tr.odd td.tertiary {
	background-color: #e6e6e6;
}
.abelt-metro-dark td.tertiary,
.abelt-metro-dark tr.even td.tertiary {
	background-color: #f2f2f2;
}

/* filter widget */
.abelt-metro-dark .abelt-filterRow {
	background-color: #eee;
}
.abelt-metro-dark .abelt-filterRow td {
	background-color: #eee;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.abelt-metro-dark .abelt-filterRow .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}
/* hidden filter row */
.abelt-metro-dark .abelt-filterRow.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.abelt-metro-dark .abelt-filterRow.hideme * {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}
/* filters */
.abelt-metro-dark input.abelt-filter,
.abelt-metro-dark select.abelt-filter {
	width: 95%;
	height: auto;
	margin: 0;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.abelt .filtered {
	display: none;
}

/* ajax error row */
.abelt .abelt-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;
}
