/*************
Metro Dark Theme
*************/
/* overall */
.abelt-metro-dark {
	width: 100%;
	font: 12px/18px 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #333;
	border-spacing: 0;
	margin: 10px 0 15px;
	text-align: left;
}

/* extra rows/caption on either end of the table - add this class manually */
.abelt-metro-dark tr.dark-row th,
.abelt-metro-dark tr.dark-row td,
.abelt-metro-dark caption.dark-row {
	background-color: #222;
	color: #fff;
	padding: 2px;
	text-align: left;
	font-size: 14px;
}

/* header/footer */
.abelt-metro-dark caption,
.abelt-metro-dark th,
.abelt-metro-dark thead td,
.abelt-metro-dark tfoot th,
.abelt-metro-dark tfoot td {
	font-weight: 300;
	font-size: 15px;
	color: #ddd;
	background-color: #333;
	padding: 4px;
}

.abelt-metro-dark .abelt-header,
.abelt-metro-dark thead th.sorter-false,
.abelt-metro-dark thead td.sorter-false {
	background-image: none;
	cursor: default;
	padding: 4px;
}

.abelt-metro-dark .abelt-unsorted, .abelt-metro-dark .abelt-sorted {
	background-position: right 5px center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.abelt-metro-dark .abelt-unsorted {
	background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAAGFBMVEUAAADu7u7u7u7u7u7u7u7u7u7u7u7u7u5jNePWAAAACHRSTlMAMxIHKwEgMWD59H4AAABSSURBVAjXY2BgYFJgAAHzYhDJ6igSAKTYBAUTgJSioKAQAwNzoaCguAFDiCAQuDIkgigxBgiA8cJAVCpQt6AgSL+JoKAzA0gjUBsQqBcBCYhFAAE/CV4zeSzxAAAAAElFTkSuQmCC);
	cursor: pointer;
	white-space: normal;
}
.abelt-metro-dark .abelt-headerInner {
	padding: 0 18px 0 4px;
}

.abelt-metro-dark thead .abelt-sortAsc {
	background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAAIVBMVEUAAADu7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u5meJAOAAAACnRSTlMAMwsqXt+gIBUGxGoDMAAAAFlJREFUCNctzC0SQAAUReEzGNQ3AlHRiSRZFCVZYgeswRL8hLdK7834wj3tAlGP6y7fYHpKS6w6WwbVG0I1NZVnZPG8/DYxOYlnhUYkA06R1s9ESsxR4NIdPhkPFDFYuEnMAAAAAElFTkSuQmCC);
}
.abelt-metro-dark thead .abelt-sortDesc {
	background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAALVBMVEUAAADu7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7i0NViAAAADnRSTlMAMiweCQITTvDctZZqaTlM310AAABcSURBVAjXY2BgYEtgAAFHERDJqigUAKSYBQUNgFSioKAYAwOLIBA4MASBKFUGQxAlzAAF+94BwWuGKBC1lIFl3rt3Lx0YGCzevWsGSjK9e6cAUlT3HKyW9wADAwDRrBiDy6bKzwAAAABJRU5ErkJggg==);
}

/* tbody */
.abelt-metro-dark td {
	background-color: #fff;
	padding: 4px;
	vertical-align: top;
}

/* hovered row colors */
.abelt-metro-dark tbody > tr:hover > td,
.abelt-metro-dark tbody > tr.even:hover > td,
.abelt-metro-dark tbody > tr.odd:hover > td {
	background: #bbb;
	color: #000;
}

/* table processing indicator */
.abelt-metro-dark .abelt-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	/* background-image: url(../dist/css/images/loading.gif) !important; */
	background-image: url(data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=) !important;
}

/* pager */
.abelt-metro-dark .abelt-pager button {
	background-color: #444;
	color: #eee;
	border: #555 1px solid;
	cursor: pointer;
}
.abelt-metro-dark .abelt-pager button:hover {
	background-color: #555;
}

/* Zebra Widget - row alternating colors */
.abelt-metro-dark tr.odd > td {
	background-color: #eee;
}
.abelt-metro-dark tr.even > td {
	background-color: #fff;
}

/* Column Widget - column sort colors */
.abelt-metro-dark tr.odd td.primary {
	background-color: #bfbfbf;
}
.abelt-metro-dark td.primary,
.abelt-metro-dark tr.even td.primary {
	background-color: #d9d9d9;
}
.abelt-metro-dark tr.odd td.secondary {
	background-color: #d9d9d9;
}
.abelt-metro-dark td.secondary,
.abelt-metro-dark tr.even td.secondary {
	background-color: #e6e6e6;
}
.abelt-metro-dark tr.odd td.tertiary {
	background-color: #e6e6e6;
}
.abelt-metro-dark td.tertiary,
.abelt-metro-dark tr.even td.tertiary {
	background-color: #f2f2f2;
}

/* filter widget */
.abelt-metro-dark .abelt-filterRow td {
	background: #eee;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.abelt-metro-dark .abelt-filterRow .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}
/* hidden filter row */
.abelt-metro-dark .abelt-filterRow.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.abelt-metro-dark .abelt-filterRow.hideme * {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}
/* filters */
.abelt-metro-dark input.abelt-filter,
.abelt-metro-dark select.abelt-filter {
	width: 95%;
	height: auto;
	margin: 4px;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.abelt .filtered {
	display: none;
}

/* ajax error row */
.abelt .abelt-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;
}
