/*************
  Dark Theme (by thezoggy)
 *************/
/* overall */
.abelt-dark {
	width: 100%;
	font: 11px/18px Arial, Sans-serif;
	color: #ccc;
	text-align: left;
	background-color: #000;
	border-spacing: 0;
}

/* header */
.abelt-dark th,
.abelt-dark thead td {
	padding: 4px;
	font: bold 12px/20px Arial, Sans-serif;
	color: #fff;
	background-color: #000;
	border-collapse: collapse;
}
.abelt-dark thead th {
	border-bottom: #333 2px solid;
}

.abelt-dark .abelt-header,
.abelt-dark thead .sorter-false,
.abelt-dark thead .sorter-false .abelt-headerInner,
.abelt-dark thead .sorter-false i.abelt-icon {
	background-image: none;
	cursor: default;
	padding: 4px;
}

.abelt-dark .abelt-headerInner {
	position: relative;
	padding: 4px 15px 4px 4px;
	cursor: pointer;
}

.abelt-dark .abelt-unsorted i.abelt-icon,
.abelt-dark .abelt-sorted i.abelt-icon {
	width: 10px;
	height: 10px;
	position: absolute;
	right: 2px;
	top: 50%;
	margin-top: -5px;
	background-repeat: no-repeat;
	background-position: center right;
	padding: 4px;
	white-space: normal;
	background-size: auto 100%;
}

.abelt-dark .abelt-unsorted i.abelt-icon {
	/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M15 8 1 8 8 0zM15 9 1 9 8 16z" fill="#ddd"/></svg> */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTE1IDggMSA4IDggMHpNMTUgOSAxIDkgOCAxNnoiIGZpbGw9IiNkZGQiLz48L3N2Zz4=);
}
.abelt-dark .abelt-sortAsc i.abelt-icon {
	/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M15 11 1 11 8 3z" fill="#ddd"/></svg> */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTE1IDExIDEgMTEgOCAzeiIgZmlsbD0iI2RkZCIvPjwvc3ZnPg==);
	color: #fff;
}
.abelt-dark .abelt-sortDesc i.abelt-icon {
	/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M15 6 1 6 8 13z" fill="#ddd"/></svg> */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTE1IDYgMSA2IDggMTN6IiBmaWxsPSIjZGRkIi8+PC9zdmc+);
	color: #fff;
}

/* tfoot */
.abelt-dark tfoot .abelt-sortAsc,
.abelt-dark tfoot .abelt-sortDesc {
	border-top: #888 1px solid;
}

/* tbody */
.abelt-dark td {
	padding: 4px;
	background-color: #000;
	border-bottom: #333 1px solid;
	color: #ccc;
}

/* hovered row colors */
.abelt-dark tbody > tr.hover > td,
.abelt-dark tbody > tr:hover > td,
.abelt-dark tbody > tr.even:hover > td,
.abelt-dark tbody > tr.odd:hover > td {
	background-color: #000;
}

/* table processing indicator */
.abelt-dark .abelt-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTEwIDJDMTAgMy4xIDggNiA4IDYgOCA2IDYgMy4xIDYgMiA2IDAuOSA2LjkgMCA4IDBjMS4xIDAgMiAwLjkgMiAyek0xNiA4YzAgMS4xLTAuOSAyLTIgMi0xLjEgMC00LTItNC0yIDAgMCAyLjktMiA0LTIgMS4xIDAgMiAwLjkgMiAyek0xMCAxNGMwIDEuMS0wLjkgMi0yIDItMS4xIDAtMi0wLjktMi0yIDAtMS4xIDItNCAyLTQgMCAwIDIgMi45IDIgNHpNNiA4QzYgOCAzLjEgMTAgMiAxMCAwLjkgMTAgMCA5LjEgMCA4IDAgNi45IDAuOSA2IDIgNiAzLjEgNiA2IDggNiA4eiIgc3R5bGU9ImZpbGw6I2RkZDtvcGFjaXR5Oi41Ij48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgZnJvbT0iMCA4IDgiIHRvPSIzNjAgOCA4IiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgZHVyPSIxLjVzIi8+PC9wYXRoPjwvc3ZnPg==);
	background-size: auto 20px;
}

/* Zebra Widget - row alternating colors */
.abelt-dark tr.odd > td {
	background-color: #202020;
}
.abelt-dark tr.even > td {
	background-color: #101010;
}

/* Column Widget - column sort colors */
.abelt-dark td.primary,
.abelt-dark tr.odd td.primary {
	background-color: #0a0a0a;
}
.abelt-dark tr.even td.primary {
	background-color: #050505;
}
.abelt-dark td.secondary,
.abelt-dark tr.odd td.secondary {
	background-color: #0f0f0f;
}
.abelt-dark tr.even td.secondary {
	background-color: #0a0a0a;
}
.abelt-dark td.tertiary,
.abelt-dark tr.odd td.tertiary {
	background-color: #191919;
}
.abelt-dark tr.even td.tertiary {
	background-color: #0f0f0f;
}

/* caption */
caption {
	background-color: #202020;
}

/* filter widget */
.abelt-dark .abelt-filterRow {
	background-color: #202020;
}
.abelt-dark .abelt-filterRow td {
	background-color: #202020;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.abelt-dark .abelt-filterRow .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}

/* hidden filter row */
.abelt-dark .abelt-filterRow.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.abelt-dark .abelt-filterRow.hideme * {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}

/* filters */
.abelt-dark input.abelt-filter,
.abelt-dark select.abelt-filter {
	width: 98%;
	height: auto;
	margin: 0;
	padding: 4px;
	background-color: #111;
	border: 1px solid #222;
	color: #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.abelt .filtered {
	display: none;
}

/* ajax error row */
.abelt .abelt-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;
}
