/*************
  Dropbox Theme (by thezoggy)
 *************/
/* overall */
.abelt-dropbox {
	width: 100%;
	font: 13px/32px "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	color: #555;
	text-align: left;
	background-color: #fff;
	border-collapse: collapse;
	border-top: 1px solid #82cffa;
	border-spacing: 0;
}

/* header */
.abelt-dropbox th,
.abelt-dropbox thead td,
.abelt-dropbox tfoot th,
.abelt-dropbox tfoot td {
	background-color: #f0f9ff;
	border-color: #82cffa #e7f2fb #96c4ea;
	border-style: solid;
	border-width: 1px;
	padding: 3px 6px;
	font-size: 13px;
	font-weight: normal;
	line-height: 29px;
	color: #2281CF;
	text-align: left;
}
.abelt-dropbox .header,
.abelt-dropbox thead tr,
.abelt-dropbox .abelt-headerRow {
	background-color: #f0f9ff;
	border-bottom: 1px solid #96c4ea;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 0 #000000 inset;
	white-space: normal;
}
.abelt-dropbox .abelt-sortAsc,
.abelt-dropbox .abelt-sortDesc {
	font-weight: 600;
}
.abelt-dropbox .abelt-header {
	cursor: pointer;
}
.abelt-dropbox .abelt-header i.abelt-icon {
	width: 9px;
	height: 9px;
	padding: 0 10px 0 6px;
	display: inline-block;
	background-position: center right;
	background-repeat: no-repeat;
	white-space: normal;
	background-size: auto 100%;
}

.abelt-dropbox .abelt-header,
.abelt-dropbox thead .sorter-false,
.abelt-dropbox thead .sorter-false .abelt-headerInner,
.abelt-dropbox thead .sorter-false i.abelt-icon,
.abelt-dropbox thead .sorter-false:hover i.abelt-icon {
	background-image: none;
	cursor: default;
}

.abelt-dropbox thead .abelt-sortAsc i.abelt-icon {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0ibGluZWFyR3JhZGllbnQzMjg1Ij48c3RvcCBvZmZzZXQ9IjAiIGlkPSJzdG9wMzI4NyIgc3R5bGU9InN0b3AtY29sb3I6IzdjYTRjNCIvPjxzdG9wIGlkPSJzdG9wMzI5NSIgb2Zmc2V0PSIwLjYzIiBzdHlsZT0ic3RvcC1jb2xvcjojN2JiZGYzIi8+PHN0b3Agb2Zmc2V0PSIxIiBpZD0ic3RvcDMyODkiIHN0eWxlPSJzdG9wLWNvbG9yOiM4YWQ2ZmYiLz48L2xpbmVhckdyYWRpZW50PjxsaW5lYXJHcmFkaWVudCB4bGluazpocmVmPSIjbGluZWFyR3JhZGllbnQzMjg1IiBpZD0ibGluZWFyR3JhZGllbnQzMjkxIiB4MT0iOCIgeTE9IjMiIHgyPSI4IiB5Mj0iMTEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEsMCwwLDEuMjUsMCwtMC43NSkiLz48L2RlZnM+PHBhdGggZD0iTTE1IDEzIDEgMTMgOCAzeiIgc3R5bGU9ImZpbGw6dXJsKCNsaW5lYXJHcmFkaWVudDMyOTEpO3N0cm9rZS1taXRlcmxpbWl0OjQ7c3Ryb2tlLXdpZHRoOjAuMjI7c3Ryb2tlOiM2ZDlmYzgiLz48L3N2Zz4=);
}
.abelt-dropbox thead .abelt-sortAsc:hover i.abelt-icon {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTE1IDEzIDEgMTMgOCAzeiIgc3R5bGU9ImZpbGw6IzdGOTlBRTtzdHJva2UtbWl0ZXJsaW1pdDo0O3N0cm9rZS13aWR0aDowLjIyO3N0cm9rZTojN0I4Qjk4Ii8+PC9zdmc+);
}
.abelt-dropbox .abelt-sortDesc i.abelt-icon {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0ibGluZWFyR3JhZGllbnQzMjg1Ij48c3RvcCBvZmZzZXQ9IjAiIGlkPSJzdG9wMzI4NyIgc3R5bGU9InN0b3AtY29sb3I6IzdjYTRjNCIvPjxzdG9wIG9mZnNldD0iMC42MyIgc3R5bGU9InN0b3AtY29sb3I6IzdiYmRmMyIvPjxzdG9wIG9mZnNldD0iMSIgc3R5bGU9InN0b3AtY29sb3I6IzhhZDZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdyYWRpZW50IHhsaW5rOmhyZWY9IiNsaW5lYXJHcmFkaWVudDMyODUiIGlkPSJsaW5lYXJHcmFkaWVudDMyOTEiIHgxPSI4IiB5MT0iMyIgeDI9IjgiIHkyPSIxMSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoMSwwLDAsMS4yNSwwLC0wLjc1KSIvPjwvZGVmcz48cGF0aCBkPSJNMTUgMyAxIDMgOCAxM3oiIHN0eWxlPSJmaWxsOnVybCgjbGluZWFyR3JhZGllbnQzMjkxKTtzdHJva2UtbWl0ZXJsaW1pdDo0O3N0cm9rZS13aWR0aDowLjIyO3N0cm9rZTojNmQ5ZmM4Ii8+PC9zdmc+);
}
.abelt-dropbox .abelt-sortDesc:hover i.abelt-icon {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTE1IDMgMSAzIDggMTN6IiBzdHlsZT0iZmlsbDojN0Y5OUFFO3N0cm9rZS1taXRlcmxpbWl0OjQ7c3Ryb2tlLXdpZHRoOjAuMjI7c3Ryb2tlOiM3QjhCOTgiLz48L3N2Zz4=);
}

/* tbody */
.abelt-dropbox td {
	padding: 5px 6px;
	line-height: 32px;
	color: #555;
	text-align: left;
	border-top: 1px solid #edf1f5;
	border-bottom: 1px solid #edf1f5;
}

/* hovered row colors */
.abelt-dropbox tbody > tr.hover > td,
.abelt-dropbox tbody > tr:hover > td,
.abelt-dropbox tbody > tr.even:hover > td,
.abelt-dropbox tbody > tr.odd:hover > td {
	background-color: rgba(230, 245, 255, 0.3);
	border-right: 0;
	border-left: 0;
	border-color: #c6d8e4;
	/* trick to do border-top and bottom colors */
	border-style: double;
}

/* table processing indicator */
.abelt-dropbox .abelt-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTEwIDJDMTAgMy4xIDggNiA4IDYgOCA2IDYgMy4xIDYgMiA2IDAuOSA2LjkgMCA4IDBjMS4xIDAgMiAwLjkgMiAyek0xNiA4YzAgMS4xLTAuOSAyLTIgMi0xLjEgMC00LTItNC0yIDAgMCAyLjktMiA0LTIgMS4xIDAgMiAwLjkgMiAyek0xMCAxNGMwIDEuMS0wLjkgMi0yIDItMS4xIDAtMi0wLjktMi0yIDAtMS4xIDItNCAyLTQgMCAwIDIgMi45IDIgNHpNNiA4QzYgOCAzLjEgMTAgMiAxMCAwLjkgMTAgMCA5LjEgMCA4IDAgNi45IDAuOSA2IDIgNiAzLjEgNiA2IDggNiA4eiIgc3R5bGU9ImZpbGw6IzMzMztvcGFjaXR5Oi41Ij48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgZnJvbT0iMCA4IDgiIHRvPSIzNjAgOCA4IiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgZHVyPSIxLjVzIi8+PC9wYXRoPjwvc3ZnPg==);
	background-size: auto 20px;
}

/* Zebra Widget - row alternating colors */
.abelt-dropbox tr.odd > td {
}
.abelt-dropbox tr.even > td {
}

/* Column Widget - column sort colors */
.abelt-dropbox td.primary,
.abelt-dropbox tr.odd td.primary {
}
.abelt-dropbox tr.even td.primary {
}
.abelt-dropbox td.secondary,
.abelt-dropbox tr.odd td.secondary {
}
.abelt-dropbox tr.even td.secondary {
}
.abelt-dropbox td.tertiary,
.abelt-dropbox tr.odd td.tertiary {
}
.abelt-dropbox tr.even td.tertiary {
}

/* caption */
caption {
	background: #fff;
}

/* Filter Widget */
.abelt-dropbox .abelt-filterRow {
	background: #fff;
}
.abelt-dropbox .abelt-filterRow td {
	background: #fff;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.abelt-dropbox .abelt-filterRow .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}

/* hidden filter row */
.abelt-dropbox .abelt-filterRow.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.abelt-dropbox .abelt-filterRow.hideme * {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}

/* filters */
.abelt-dropbox input.abelt-filter,
.abelt-dropbox select.abelt-filter {
	width: 98%;
	height: auto;
	margin: 0;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.abelt .filtered {
	display: none;
}

/* ajax error row */
.abelt .abelt-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;
}
