/******************
  jQuery UI Theme
 ******************/
 /* overall */
.abelt-jui {
	width: 100%;
	border-collapse: separate;
	border-spacing: 2px; /* adjust spacing between table cells */
	margin: 10px 0 15px;
	padding: 5px;
	font-size: 0.8em;
}

/* header */
.abelt-jui thead th,
.abelt-jui thead td,
.abelt-jui tfoot th,
.abelt-jui tfoot td {
	position: relative;
	background-repeat: no-repeat;
	background-position: right center;
	/* UI hover and active states make the font normal and the table resizes, this fixes it */
	font-weight: bold !important;
	border-width: 1px !important;
	text-align: left;
	padding: 8px; /* wider than the icon */
}
.abelt-jui .abelt-header {
	cursor: pointer;
	white-space: normal;
}
.abelt-jui .abelt-headerInner {
	padding-right: 20px;
}
.abelt-jui thead tr th i.ui-icon {
	position: absolute;
	right: 3px;
	top: 50%;
	margin-top: -8px; /* half the icon height; older IE doesn't like this */
}

.abelt-jui thead .sorter-false {
	cursor: default;
}
.abelt-jui thead tr .sorter-false i.ui-icon {
	display: none;
}

/* tfoot */
.abelt-jui tfoot th,
.abelt-jui tfoot td {
	font-weight: normal !important;
	font-size: .9em;
	padding: 2px;
}

/* tbody */
.abelt-jui td {
	padding: 4px;
	vertical-align: top;
}

/* hovered row colors */
.abelt-jui tbody > tr.hover > td,
.abelt-jui tbody > tr:hover > td {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

/* table processing indicator */
.abelt-jui .abelt-processing .abelt-headerInner {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTEwIDJDMTAgMy4xIDggNiA4IDYgOCA2IDYgMy4xIDYgMiA2IDAuOSA2LjkgMCA4IDBjMS4xIDAgMiAwLjkgMiAyek0xNiA4YzAgMS4xLTAuOSAyLTIgMi0xLjEgMC00LTItNC0yIDAgMCAyLjktMiA0LTIgMS4xIDAgMiAwLjkgMiAyek0xMCAxNGMwIDEuMS0wLjkgMi0yIDItMS4xIDAtMi0wLjktMi0yIDAtMS4xIDItNCAyLTQgMCAwIDIgMi45IDIgNHpNNiA4QzYgOCAzLjEgMTAgMiAxMCAwLjkgMTAgMCA5LjEgMCA4IDAgNi45IDAuOSA2IDIgNiAzLjEgNiA2IDggNiA4eiIgc3R5bGU9ImZpbGw6IzMzMztvcGFjaXR5Oi41Ij48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgZnJvbT0iMCA4IDgiIHRvPSIzNjAgOCA4IiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgZHVyPSIxLjVzIi8+PC9wYXRoPjwvc3ZnPg==);
	background-size: auto 20px;
}

/* Zebra widget - This allows you to use ui-state-default as the zebra stripe color */
.abelt-jui tr.ui-state-default {
	background-image: none;
	font-weight: normal;
}

/* processing background color */
.abelt-jui .abelt-processing {
	background-color: #ddd; /* older browsers that don't support rgba */
	background-color: rgba(255,255,255,0.8);
}

/* caption */
.abelt-jui caption {
	border: 0;
	padding: 4px 10px;
}

/* filter widget */
.abelt-jui .abelt-filterRow td {
	background: transparent;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.abelt-jui .abelt-filterRow .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}
/* hidden filter row */
.abelt-jui .abelt-filterRow.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.abelt-jui .abelt-filterRow.hideme * {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}
/* filters */
.abelt-jui input.abelt-filter,
.abelt-jui select.abelt-filter {
	width: 98%;
	height: auto;
	margin: 0;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.abelt .filtered {
	display: none;
}

/* ajax error row */
.abelt .abelt-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;
}
