/*************
  Grey Theme
 *************/
/* overall */
.abelt-grey {
	width: 100%;
	margin: 10px 0 15px;
	text-align: left;
	border-spacing: 0;
	border-left: #555 1px solid;
}

/* header */
.abelt-grey th,
.abelt-grey thead td {
	font: bold 12px/18px Arial, Sans-serif;
	color: #c8c8c8;
	background-color: #3c3c3c;
	background-image: -moz-linear-gradient(top, #555, #3c3c3c);
	background-image: -ms-linear-gradient(top, #555, #3c3c3c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#3c3c3c));
	background-image: -webkit-linear-gradient(top, #555, #3c3c3c);
	background-image: -o-linear-gradient(top, #555, #3c3c3c);
	background-image: linear-gradient(to bottom, #555,#3c3c3c);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#3c3c3c',GradientType=0 );
	background-repeat: repeat-x;
	border-right: #555 1px solid;
	text-shadow: 0 1px 0 rgba(128, 128, 128, 0.7);
	-webkit-box-shadow: inset 0 1px 0 #222;
	-moz-box-shadow: inset 0 1px 0 #222;
	box-shadow: inset 0 1px 0 #222;
	padding: 4px;
}

.abelt-grey .abelt-header,
.abelt-grey thead .sorter-false,
.abelt-grey thead .sorter-false .abelt-headerInner,
.abelt-grey thead .sorter-false i.abelt-icon {
	background-image: none;
	cursor: default;
}

.abelt-grey .abelt-headerInner {
	position: relative;
	padding: 4px 15px 4px 4px;
	min-height: 100%;
	cursor: pointer;
}

.abelt-grey thead .abelt-unsorted i.abelt-icon,
.abelt-grey thead .abelt-sorted i.abelt-icon {
	width: 10px;
	height: 10px;
	position: absolute;
	right: 2px;
	top: 50%;
	margin-top: -5px;
	background-repeat: no-repeat;
	background-position: center right;
	padding: 4px;
	white-space: normal;
	background-size: auto 100%;
}

.abelt-grey .abelt-unsorted i.abelt-icon {
	/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M15 8 1 8 8 0zM15 9 1 9 8 16z" fill="#ddd"/></svg> */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTE1IDggMSA4IDggMHpNMTUgOSAxIDkgOCAxNnoiIGZpbGw9IiNkZGQiLz48L3N2Zz4=);
}
.abelt-grey .abelt-sortAsc i.abelt-icon {
	/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M15 11 1 11 8 3z" fill="#ddd"/></svg> */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTE1IDExIDEgMTEgOCAzeiIgZmlsbD0iI2RkZCIvPjwvc3ZnPg==);
	color: #fff;
}
.abelt-grey .abelt-sortDesc i.abelt-icon {
	/* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M15 6 1 6 8 13z" fill="#ddd"/></svg> */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTE1IDYgMSA2IDggMTN6IiBmaWxsPSIjZGRkIi8+PC9zdmc+);
	color: #fff;
}

.abelt-grey thead .abelt-sorted {
	color: #ddd;
	background-color: #135185;
	background-image: -moz-linear-gradient(top, #195c93, #0e4776);
	background-image: -ms-linear-gradient(top, #195c93, #0e4776);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#195c93), to(#0e4776));
	background-image: -webkit-linear-gradient(top, #195c93, #0e4776);
	background-image: -o-linear-gradient(top, #195c93, #0e4776);
	background-image: linear-gradient(to bottom, #195c93, #0e4776);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#195c93', endColorstr='#0e4776',GradientType=0 );
}

/* tfoot */
.abelt-grey tbody td,
.abelt-grey tfoot th,
.abelt-grey tfoot td {
	padding: 4px;
	vertical-align: top;
	border-right: #555 1px solid;
}
.abelt-grey tfoot th,
.abelt-grey tfoot td {
	padding: 8px;
}

/* tbody */
.abelt-grey td {
	color: #eee;
	background-color: #6d6d6d;
	padding: 4px;
	vertical-align: top;
}

/* hovered row colors
 you'll need to add additional lines for
 rows with more than 2 child rows
 */
.abelt-grey tbody > tr.hover > td,
.abelt-grey tbody > tr:hover > td,
.abelt-grey tbody > tr:hover + tr.abelt-childRow > td,
.abelt-grey tbody > tr:hover + tr.abelt-childRow + tr.abelt-childRow > td,
.abelt-grey tbody > tr.even.hover > td,
.abelt-grey tbody > tr.even:hover > td,
.abelt-grey tbody > tr.even:hover + tr.abelt-childRow > td,
.abelt-grey tbody > tr.even:hover + tr.abelt-childRow + tr.abelt-childRow > td {
	background-color: #134b78;
}
.abelt-grey tbody > tr.odd.hover > td,
.abelt-grey tbody > tr.odd:hover > td,
.abelt-grey tbody > tr.odd:hover + tr.abelt-childRow > td,
.abelt-grey tbody > tr.odd:hover + tr.abelt-childRow + tr.abelt-childRow > td {
	background-color: #134b78;
}

/* table processing indicator */
.abelt-grey .abelt-processing .abelt-headerInner {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTEwIDJDMTAgMy4xIDggNiA4IDYgOCA2IDYgMy4xIDYgMiA2IDAuOSA2LjkgMCA4IDBjMS4xIDAgMiAwLjkgMiAyek0xNiA4YzAgMS4xLTAuOSAyLTIgMi0xLjEgMC00LTItNC0yIDAgMCAyLjktMiA0LTIgMS4xIDAgMiAwLjkgMiAyek0xMCAxNGMwIDEuMS0wLjkgMi0yIDItMS4xIDAtMi0wLjktMi0yIDAtMS4xIDItNCAyLTQgMCAwIDIgMi45IDIgNHpNNiA4QzYgOCAzLjEgMTAgMiAxMCAwLjkgMTAgMCA5LjEgMCA4IDAgNi45IDAuOSA2IDIgNiAzLjEgNiA2IDggNiA4eiIgc3R5bGU9ImZpbGw6I2RkZDtvcGFjaXR5Oi41Ij48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgZnJvbT0iMCA4IDgiIHRvPSIzNjAgOCA4IiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgZHVyPSIxLjVzIi8+PC9wYXRoPjwvc3ZnPg==);
	background-size: auto 20px;
	flex: 1 1 100%;
}

/* Zebra Widget - row alternating colors */
.abelt-grey tbody tr.odd > td {
	background-color: #5e5e5e;
}
.abelt-grey tbody tr.even > td {
	background-color: #6d6d6d;
}

/* Column Widget - column sort colors */
.abelt-grey td.primary,
.abelt-grey tr.odd td.primary {
	color: #ddd;
	background-color: #165388;
}
.abelt-grey tr.even td.primary {
	color: #ddd;
	background-color: #195c93;
}
.abelt-grey td.secondary,
.abelt-grey tr.odd td.secondary {
	color: #ddd;
	background-color: #185C9A;
}
.abelt-grey tr.even td.secondary {
	color: #ddd;
	background-color: #1D67A5;
}
.abelt-grey td.tertiary,
.abelt-grey tr.odd td.tertiary {
	color: #ddd;
	background-color: #1B67AD;
}
.abelt-grey tr.even td.tertiary {
	color: #ddd;
	background-color: #2073B7;
}

/* caption */
caption {
	background-color: #fff;
}

/* filter widget */
.abelt-grey .abelt-filterRow {
	background-color: #3c3c3c;
}
.abelt-grey .abelt-filterRow td {
	background-color: #3c3c3c;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.abelt-grey .abelt-filterRow .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}
/* hidden filter row */
.abelt-grey .abelt-filterRow.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.abelt-grey .abelt-filterRow.hideme * {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}
/* filters */
.abelt-grey input.abelt-filter,
.abelt-grey select.abelt-filter {
	width: 98%;
	height: auto;
	margin: 0;
	padding: 4px;
	background-color: #6d6d6d;
	border: 1px solid #555;
	color: #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.abelt .filtered {
	display: none;
}

/* ajax error row */
.abelt .abelt-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;
}
